<section fxLayout="row" (window:resize)="onResize($event)">

    <div class="basket top-spacing" fxLayout="column" fxLayoutGap="2rem" fxLayoutGap.lt-sm="1rem" [fxFlex]="(onDesktop && basket?.items.length > 0) ? 70 : 100"
        [ngStyle]="{'height': onDesktop ? '95vh' : '100vh'}">
        <div class="basket-item-list" fxLayout="column" fxLayoutGap="2rem">
            <h2>Shopping Basket</h2>

            <!-- List with items -->
            <div *ngFor="let item of basket?.items" class="basket-item" fxLayout="row" fxLayoutAlign="space-between center">
                <p>{{item.productName}}</p>
                <div fxLayout="row" fxLayoutGap="5rem" fxLayoutGap.lt-sm="1.5rem" fxLayoutAlign="none center">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1.5rem" fxLayoutGap.lt-sm=".8rem">
                        <img (click)="decreaseItemQuantity(item)" src="../../../website/assets/images/icons/minus.png" alt="" class="icon">
                        <p>{{item.quantity}}</p>
                        <img (click)="increaseItemQuantity(item)" src="../../../website/assets/images/icons/plus.png" alt="" class="icon">
                    </div>
                    <p>${{item.price * item.quantity | number : '1.2-2'}}</p>
                    <mat-icon (click)="removeItem(item)">close</mat-icon>
                </div>
            </div>

        </div>

        <div class="total" fxLayout="row" fxLayoutAlign="space-between center">
            <a routerLink="/menu" class="link">Back to menu</a>
            <div fxLayout="row" fxLayoutGap="3rem">
                <p>Total:</p>
                <p>$ {{basket?.totalPrice | number : '1.2-2'}}</p>
            </div>
        </div>

        <button class="btn-primary" *ngIf="!onDesktop && !toShow" (click)="show()">Order</button>
    </div>
    
    <app-delivery-details class="right-panel top-spacing" [fxFlex]="onDesktop ? 30 : 100" fxLayout="column" fxLayoutGap="2rem"
        *ngIf="((onDesktop && onDelivery) || (!onDesktop && toShow && onDelivery)) && basket?.items.length > 0" 
        (onPaymentPanel)="changeToPayment()" (onBack)="onBack()" 
        [onMobile]="!onDesktop">
    </app-delivery-details>

    <app-payment-details class="right-panel top-spacing" [fxFlex]="onDesktop ? 30 : 100" fxLayout="column" fxLayoutGap="2rem"
        *ngIf="((onDesktop && onPayment) || (!onDesktop && toShow && onPayment)) && basket?.items.length > 0" 
        [onMobile]="!onDesktop" (onBack)="onBack()">
    </app-payment-details>

</section>