<section fxLayout="row">
    <div class="basket top-spacing" fxLayout="column" fxLayoutGap="2rem" fxFlex="70">

        <div class="basket-item-list" >
            <h2>Shopping Basket</h2>
    
            <div class="basket-item" fxLayout="row" fxLayoutAlign="space-between center">
                <p>Lorem ipsum dolor</p>
                <div fxLayout="row" fxLayoutGap="5rem" fxLayoutAlign="none center">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
                        <img src="../../../assets/images/icons/add.png" alt="" class="icon">
                        <p>1</p>
                        <img src="../../../assets/images/icons/add.png" alt="" class="icon">
                    </div>
                    <p>$ 7.50</p>
                    <mat-icon>close</mat-icon>
                </div>
            </div>
        </div>

        <div class="total" fxLayout="row" fxLayoutAlign="space-between center">
            <a routerLink="/menu" class="link">Back to menu</a>
            <div fxLayout="row" fxLayoutGap="3rem">
                <p>Subtotal:</p>
                <p>$ 37.50</p>
            </div>
        </div>

    </div>

    <div class="right-panel top-spacing" fxFlex="30">
        <h2>Delivery Details</h2>
    </div>
</section>