$primary-light: #BF8000;
$primary-dark: #A33A27;
$primary-dark-hover: #922724;

$footer-primary: #1E1E1E;
$footer-secondary: #2B2B2B;

$tracking-previous: #3F3F3F;
$tracking-current: #A33A27;
$tracking-next: #BEBEBE;