::ng-deep .mat-progress-bar-fill::after {
    // background-color: rgba(0,255,76,1);
    background-color: transparent;
}

::ng-deep .mat-progress-bar-buffer {
    // background: #c6cdd3;
    background: linear-gradient(90deg, rgba(63,63,63,1) 0%, rgba(63,63,63,1) 25%, rgba(163,58,39,1) 50%, rgba(190,190,190,1) 75%, rgba(190,190,190,1) 100%);
    background: linear-gradient(90deg, rgba(63,63,63,1) 0%, rgba(63,63,63,1) 25%, rgba(63,63,63,1) 35%, rgba(163,58,39,1) 50%, rgba(190,190,190,1) 65%, rgba(190,190,190,1) 75%, rgba(190,190,190,1) 100%);
}

::ng-deep .mat-progress-bar {
    width: 100% !important;
    height: 1rem !important; 
    border-radius: .5rem !important;
}

.progress{
    width: 50%;
    height: auto;
    position: relative;
    margin-top: 10rem;
    
    .states{
        position: absolute;
        width: 100%;
        top: -.5rem;

        .state{
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            position: relative;

            &::after{
                content: "";
                width: 50%;
                height: 50%;
                position: absolute;
                top: 25%;
                left: 25%;
                border-radius: 50%;
                display: inline-block;
                background-size: cover;
            }
        }
    }
    .states-icons{
        width: calc(100% + 5rem);
        height: 10rem;
        position: absolute;
        top: calc(-150% - 10rem);
        left: calc(0px - 2.5rem);

        .icon{
            width: 7rem;
            height: 7rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .states-names{
        width: calc(100% + 5rem);
        height: 4rem;
        position: absolute;
        bottom: calc(-150% - 5rem);
        left: calc(0px - 2.5rem);
        font-size: 1.2rem;
        font-weight: 600;
    }
}

div.past-state{
    background-color: rgb(65,65,65);
    &::after{
        background: url("../../../assets/images/icons/checkmark.png") no-repeat center;
    }
}
div.current-state{
    background-color: #a33a27;
    &::after{
        background: url("../../../assets/images/icons/refresh.png") no-repeat center;
    }
}
div.future-state{
    background-color: #BEBEBE;
    &::after{
        background-color: #fff;
    }
}

p.past-state{
    color: rgb(65,65,65);
}
p.current-state{
    color: #a33a27;
}
p.future-state{
    color: #BEBEBE;
}

@media screen and (max-width: 1350px){
    .progress{
        width: 90%;
    }
}
@media screen and (max-width: 760px){
    .states-icons{
        height: 14rem !important;

        .icon{
            width: 2rem !important;
            height: 2rem !important;
        }
    }
}