@font-face {
    font-family: 'Papyrus';
    src: url("/assets/fonts/papyrus.eot");
    src: url("/assets/fonts/papyrus.woff") format("woff"),
    url("/assets/fonts/papyrus.ttf") format("truetype"),
    url("/assets/fonts/papyrus.svg#bm-dashboard-font") format("svg");
    font-weight: normal;
}