@font-face {
    font-family: 'papyrus';
    src: url("../fonts/PAPYRUS.TTF");
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: normal;
    src: url("../fonts/PAPYRUS.TTF");
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: bold;
    src: url("../fonts/SEGOEUISB.ttf");
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: lighter;
    src: url("../fonts/SEGOEUISL.ttf");
}