<section class="menu-category">
    <div class="title">Salads</div>
    <!-- To be replaced by *ngFor -->
    <app-menu-item></app-menu-item>
    <app-menu-item></app-menu-item>
    <app-menu-item></app-menu-item>
    <app-menu-item></app-menu-item>
</section>

<section class="images" fxLayout="row" fxLayout.lt-sm="column">
    <div fxLayout="row">
        <img class="category-img" src="../../../../assets/images/menu/salad1.jpg">
        <img class="category-img" src="../../../../assets/images/menu/salad2.jpg">
    </div>
    <div fxLayout="row">
        <img class="category-img" src="../../../../assets/images/menu/salad3.jpg">
        <img class="category-img" src="../../../../assets/images/menu/salad4.jpg">
    </div>
</section>