<footer fxLayout="column">
    <div class="primary" fxFlex fxLayout="row" fxLayoutAlign="space-evenly center">
        <div class="logo"><img src="../../../assets/images/logo_light.svg" alt=""></div>
        <div class="nav" fxLayout="column" fxLayoutAlign="none start">
            <a href="">MENU</a>
            <a href="">ABOUT</a>
            <a href="">CONTACT</a>
        </div>
        <div class="contact">
            <p>Street address and nr, <br>
                Eindhoven, 5612BG</p>
            <p> + (31) 6 1234 5678 <br> 
                + (31) 6 1234 5678</p>
        </div>
        <div class="social">
            <p><a href="">info@chorbadeck.com</a></p>
            <div class="icons">

            </div>
        </div>
    </div>
    <div class="copy" fxLayout="row" fxLayoutAlign="center center">&copy; 2021 Chorba Deck, All Rights Reserved</div>
</footer>