<footer fxLayout="column">
    <div class="primary" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly center" fxLayoutGap.lt-md="2rem">
        <div class="logo"><img src="../../../website/assets/images/logo_light.svg" alt=""></div>
        <div class="nav" fxLayout="column" fxLayoutAlign="none start" fxHide.lt-md fxLayoutGap=".5rem">
            <a routerLink="menu">MENU</a>
            <a routerLink="about">ABOUT</a>
            <a routerLink="contact">GALLERY</a>
        </div>
        <div class="contact" fxLayout="column" fxLayoutGap="1rem">
            <p>Street address and nr, <br>
                Eindhoven, 5612BG</p>
            <p> + (31) 6 1234 5678 <br> 
                + (31) 6 1234 5678</p>
        </div>
        <div class="social" fxLayout="column" fxLayoutGap="1rem">
            <p><a href="">info@chorbadeck.com</a></p>
            <div class="icons" fxLayoutGap.lt-md="1rem">
                <a href=""><img src="../../../website/assets/images/icons/facebook.png" alt="" class="icon"></a>
                <a href=""><img src="../../../website/assets/images/icons/instagram.png" alt="" class="icon"></a>
                <a href=""><img src="../../../website/assets/images/icons/twitter.png" alt="" class="icon"></a>
                <a href=""><img src="../../../website/assets/images/icons/linkedin.png" alt="" class="icon"></a>
            </div>
        </div>
    </div>
    <div class="copy" fxLayout="row" fxLayoutAlign="center center">&copy; 2021 Chorba Deck, All Rights Reserved</div>
</footer>