<div class="header-image" fxLayout="row" fxLayoutAlign="center end">
    <div class="title">ABOUT</div>
</div>

<section fxLayout="column" fxLayoutGap="6rem">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3rem" fxLayout.lt-sm="column">
        <div class="item" fxLayout="column" fxLayoutAlign="none center" fxLayoutGap="1rem">
            <img src="../../../website/assets/images/icons/phone.png" >
            <h2>Phone</h2>
            <p>+(31) 6 1234 5678<br>+(31) 6 1234 5678</p>
        </div>
        <div class="item" fxLayout="column" fxLayoutAlign="none center" fxLayoutGap="1rem">
            <img src="../../../website/assets/images/icons/envelope.png">
            <h2>Email</h2>
            <p>info@chorba-restaurant.com</p>
        </div>
        <div class="item" fxLayout="column" fxLayoutAlign="none center" fxLayoutGap="1rem">
            <img src="../../../website/assets/images/icons/marker.png">
            <h2>Location</h2>
            <p>Street address and nr, Eindhoven, 5612BG</p>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="3rem" fxLayout.lt-md="column">
        <div class="img" fxFlex="60" style="background-image: url(../../../website/assets/images/rest1.jpg);"></div>
        <div fxFlex="40" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="2rem">
            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis at, voluptates reprehenderit nulla dolorem fugiat, 
                minus dignissimos illum nisi ab quisquam distinctio id, tenetur assumenda ipsa similique iure! Ab harum optio doloribus 
                dolores, iste facilis vero non totam! Doloribus illum unde eaque aspernatur dolorum repellendus amet, omnis ex tenetur 
                sunt beatae optio atque asperiores quidem nulla facilis dolores quisquam hic tempore? Eveniet recusandae velit in modi 
                ut excepturi molestiae dolores dolorem corporis, accusamus nihil, explicabo expedita est exercitationem deserunt non 
                ipsum eos iste id numquam magnam, culpa eligendi. Consectetur, soluta officiis ducimus laborum at adipisci tempore 
                corrupti distinctio voluptate vero!
            </p>
        </div>
    </div>
    <div fxLayout="row-reverse" fxLayoutGap="3rem" fxLayout.lt-md="column">
        <div class="img" fxFlex="60" style="background-image: url(../../../website/assets/images/mpa.png);"></div>
        <div fxFlex="40" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="2rem">
            <h2>Our Convinient Location</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis at, voluptates reprehenderit nulla dolorem fugiat, 
                minus dignissimos illum nisi ab quisquam distinctio id, tenetur assumenda ipsa similique iure! Ab harum optio doloribus 
                dolores, iste facilis vero non totam! Doloribus illum unde eaque aspernatur dolorum repellendus amet, omnis ex tenetur 
                sunt beatae optio atque asperiores quidem nulla facilis dolores quisquam hic tempore? Eveniet recusandae velit in modi 
                ut excepturi molestiae dolores dolorem corporis, accusamus nihil, explicabo expedita est exercitationem deserunt non 
                ipsum eos iste id numquam magnam, culpa eligendi. Consectetur, soluta officiis ducimus laborum at adipisci tempore 
                corrupti distinctio voluptate vero!
            </p>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="3rem" fxLayout.lt-md="column">
        <div class="img" fxFlex="60" style="background-image: url(../../../website/assets/images/award.png); background-size: contain;"></div>
        <div fxFlex="40" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="2rem">
            <h2>Lorem Ipsum AWARD</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis at, voluptates reprehenderit nulla dolorem fugiat, 
                minus dignissimos illum nisi ab quisquam distinctio id, tenetur assumenda ipsa similique iure! Ab harum optio doloribus 
                dolores, iste facilis vero non totam! Doloribus illum unde eaque aspernatur dolorum repellendus amet, omnis ex tenetur 
                sunt beatae optio atque asperiores quidem nulla facilis dolores quisquam hic tempore? Eveniet recusandae velit in modi 
                ut excepturi molestiae dolores dolorem corporis, accusamus nihil, explicabo expedita est exercitationem deserunt non 
                ipsum eos iste id numquam magnam, culpa eligendi. Consectetur, soluta officiis ducimus laborum at adipisci tempore 
                corrupti distinctio voluptate vero!
            </p>
        </div>
    </div>
</section>
