.header-image{
    background-image: url("../../../assets/images/about-header.jpg");
}

section{
    padding: 5rem 10%;
    font-weight: 300;
    text-align: justify;
    .item{
        width: 20%;
        text-align: center;
        img{
            max-width: 3rem;
        }
    }
    .img{
        width: 100%;
        &::after{
            content: "";
            display: block;
            padding-top: 55%;
        }
    }
}

@media screen and (max-width: 840px){
    .item{
        width: 30% !important;
    }
}
@media screen and (max-width: 600px){
    .item{
        width: 90% !important;
    }
}