<!-- Presentation -->
<section class="presentation" fxLayout="column" fxLayoutAlign="center center">
    <div class="title">The Balkan Food in Town</div>
    <img src="../../../assets/images/spacer.svg" alt="" class="spacer">
    <div class="sub-title">Traditional and Delicious <br> Balkan Recipes</div>
    <button class="btn-primary btn-light">Order Now</button>

    <div class="down" fxLayout="column">
        <img src="../../../assets/images/icons/down.png" alt="">
        <img src="../../../assets/images/icons/down.png" alt="" style="top: -1.3rem;">
    </div>
</section>

<!-- Menu -->
<section class="menu" fxLayout="column" fxLayoutAlign="center center">
    <div class="title">Our Menu</div>
    <div class="spacer-basic"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut facilisis magna. Maecenas ipsum justo, fermentum sed eros quis, 
        luctus pretium nunc. Curabitur ex lectus, porttitor vitae lorem sit amet, gravida lacinia risus. Vestibulum fringilla urna vel eros 
        malesuada, eget venenatis neque tempor. Aenean diam odio, pharetra ac augue a, pellentesque varius orci. Sed fermentum arcu ut eros 
        egestas pellentesque. Pellentesque a fringilla tellus. Class aptent taciti.</p>
    <button class="btn-primary btn-light">Read More</button>
</section>

<!-- Specialties -->
<section class="specialities" fxLayout="column" fxLayoutAlign="none center">
    <div class="title">Our Specialties</div>
    <div class="spacer-basic"></div>

    <div class="list">
        <div class="item">
            <img src="../../../assets/images/m1.png" alt="">
            <p class="item-title"></p>
            <p class="item-description"></p>
        </div>
        <div class="item">
            <img src="../../../assets/images/m2.png" alt="">
            <p class="item-title"></p>
            <p class="item-description"></p>
        </div>
        <div class="item">
            <img src="../../../assets/images/m3.png" alt="">
            <p class="item-title"></p>
            <p class="item-description"></p>
        </div>
    </div>
</section>

