<section class="top-spacing" fxLayout="column" fxLayoutAlign="none center">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()" fxLayout="column" fxLayoutGap="1rem">
        <div fxLayout="column">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
        </div>
        <div fxLayout="column">
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password">
        </div>
        <a routerLink="/register" class="link" fxLayoutAlign="center">Not a user yet? Register Now.</a>
        <button type="submit" class="btn-primary">Login</button>
    </form>
</section>