<div class="item" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="2rem">
    <img src="../../../../website/assets/images/icons/add.png" alt="Add" class="icon" style="cursor: pointer;" (click)="addToBasket(product)">
    <div class="info">
        <div class="row" fxLayout="row" fxLayoutAlign="space-between start">
            <p class="name selectable" (click)="openItemDialog(product)">{{product.name}}</p>
            <p class="price">$ {{product.price | number : '1.2-2'}}</p>
        </div>
        <p class="ingredients">{{product.ingredients}}</p>
    </div>
</div>