<section class="menu-category">
    <div class="title">Main Courses</div>
    <!-- To be replaced by *ngFor -->
    <app-menu-item></app-menu-item>
    <app-menu-item></app-menu-item>
    <app-menu-item></app-menu-item>
    <app-menu-item></app-menu-item>
</section>

<section class="images" fxLayout="row" fxLayout.lt-sm="column">
    <div fxLayout="row">
        <img class="category-img" src="../../../../assets/images/menu/main1.jpg">
        <img class="category-img" src="../../../../assets/images/menu/main2.jpg">
    </div>
    <div fxLayout="row">
        <img class="category-img" src="../../../../assets/images/menu/main3.jpg">
        <img class="category-img" src="../../../../assets/images/menu/main4.jpg">
    </div>
</section>