<section class="menu-category">
    <div class="title">Desserts</div>
    <!-- To be replaced by *ngFor -->
    <app-menu-item></app-menu-item>
    <app-menu-item></app-menu-item>
    <app-menu-item></app-menu-item>
    <app-menu-item></app-menu-item>
</section>

<section class="images" fxLayout="row" fxLayout.lt-sm="column">
    <div fxLayout="row">
        <img class="category-img" src="../../../../assets/images/menu/dessert1.jpg">
        <img class="category-img" src="../../../../assets/images/menu/dessert2.jpg">
    </div>
    <div fxLayout="row">
        <img class="category-img" src="../../../../assets/images/menu/dessert3.jpg">
        <img class="category-img" src="../../../../assets/images/menu/dessert4.jpg">
    </div>
</section>