<div class="card" fxLayout="row" fxLayout.lt-lg="column">
    <mat-icon class="icon" (click)="closeModal()">close</mat-icon>
    <img src="../../../../assets/images/menu/salad1.jpg" alt="">
    <div class="info" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
        <h4>Item Name</h4>
        <h5>Description</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt at neque id efficitur. Etiam congue laoreet libero.</p>
        <h5>Ingredients</h5>
        <p>Asparagus, hens egg, toasted sunflower seeds, Spenwood cheese</p>
        <button class="btn-primary">Order</button>
    </div>
</div>