<div class="header-image" fxLayout="row" fxLayoutAlign="center end">
    <div class="title">GALLERY</div>
</div>

<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">

    <div class="group" fxLayout="row" fxLayoutGap="1rem" fxLayout.lt-sm="column">
        <div class="img" fxFlex="50" style="background-image: url(../../../website/assets/images/rest1.jpg);"></div>
        <div class="img" fxFlex="50" style="background-image: url(../../../website/assets/images/rest2.jpg);"></div>
    </div>
    
    <div class="group" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1rem">
        <div class="img" fxFlex="66.66" style="background-image: url(../../../website/assets/images/menu/salad1.jpg);"></div>
        <div fxFlex="33.33" fxLayout="column" fxLayout.lt-md="row" fxLayout.lt-sm="column" fxLayoutGap="1rem">
            <div class="img" fxFlex="50" style="background-image: url(../../../website/assets/images/menu/salad2.jpg);"></div>
            <div class="img" fxFlex="50" style="background-image: url(../../../website/assets/images/menu/salad3.jpg);"></div>
        </div>
    </div>
    
    <div class="group" fxLayout="row-reverse" fxLayout.lt-md="column" fxLayoutGap="1rem">
        <div class="img" fxFlex="66.66" style="background-image: url(../../../website/assets/images/menu/main1.jpg);"></div>
        <div fxFlex="33.33" fxLayout="column" fxLayout.lt-md="row" fxLayout.lt-sm="column" fxLayoutGap="1rem">
            <div class="img" fxFlex="50" style="background-image: url(../../../website/assets/images/menu/main2.jpg);"></div>
            <div class="img" fxFlex="50" style="background-image: url(../../../website/assets/images/menu/main3.jpg);"></div>
        </div>
    </div>
    
    <div class="group" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1rem">
        <div class="img" fxFlex="66.66" style="background-image: url(../../../website/assets/images/menu/dessert1.jpg);"></div>
        <div fxFlex="33.33" fxLayout="column" fxLayout.lt-md="row" fxLayout.lt-sm="column" fxLayoutGap="1rem">
            <div class="img" fxFlex="50" style="background-image: url(../../../website/assets/images/menu/dessert2.jpg);"></div>
            <div class="img" fxFlex="50" style="background-image: url(../../../website/assets/images/menu/dessert3.jpg);"></div>
        </div>
    </div>

    <button routerLink="/menu" class="btn-primary">Explore Menu</button>

</section>